* {
	transition: 1s;
}
html {
	margin:0;
	padding: 0;
}
body {
	margin:0;
	padding: 0;	
}
#quote-box-wrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}
#new-quote {
  border-radius: 2px;
  color: white;
  border: none;

}
#quote-box{

	border-radius: 2px;
	padding: 30px;
	background-color:white;
	min-width: 50vw;

}

#button-wrapper{
	display: flex;
  	justify-content: space-between;
}
#root{
	max-width: 200px;
	max-height: 200px;
}
